<div class="row">
	<div class="col-xl-12">
		<div class="row row-full-height">
			<div class="col-sm-12 col-md-3 col-lg-3" *ngFor="let m of modules">
				<kt-portlet [class]="'kt-portlet--border-bottom-brand'">
					<kt-portlet-body [class]="'kt-portlet__body--fluid'">
						<div class="m__wrapper text-center" routerLink="{{m.link}}">
							<div class="feature_icon">
								<img [src]="'../../../../assets/media/icons/' + m.icon" alt="" srcset="">
							</div>
							<div class="__title">
								<h5>{{ m.translate | translate }}</h5>
							</div>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</div>
</div>