<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
        <div class="kt-portlet__head kt-portlet__head__custom">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">View</h3>
            </div>
        </div>
        <div >

            <div class="kt-form">
                <div class="kt-portlet__body">
    
                    <div class="kt-portlet__body-progress">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
    
                    <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                        Oh snap! Change a few things up and try submitting again.
                    </kt-alert>


                        <mat-form-field>
                            <input matInput #input placeholder="Name" [value]="item.name" readonly>
                          </mat-form-field>
                 

                          <mat-form-field>
                                <input matInput #input placeholder="Province Code" [value]="item.provinceCode" readonly>
                          </mat-form-field>
                     
                
                          <mat-form-field>
                                <input matInput #input placeholder="Deleted?" [value]="item.deleted" readonly>
                          </mat-form-field>
        
                    <div class="kt-separator kt-separator--dashed"></div>
                   
        
                </div>
                <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                    <div class="kt-form__actions kt-form__actions--solid">
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <button type="button" mat-raised-button [mat-dialog-close]="" cdkFocusInitial matTooltip="Cancel changes">
                                    Close
                                </button>&nbsp;

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    