<!-- 
<kt-notice [icon]="'flaticon-warning kt-font-primary'">
	We know that you are authorized to access this part of the system. 
	Considering that, this is a critical module. Please be careful!
</kt-notice> -->


<kt-portlet>
    <kt-portlet-body>

        <!--begin: Wizard -->
        <div #wizard class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2"
            data-ktwizard-state="step-first">
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                <!--begin: Form Wizard Form-->
                <form [formGroup]="myForm" (ngSubmit)="submit()" class="kt-form" id="kt_form">
                    <!--begin: Form Wizard Step 1-->
                    <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                        <div class="kt-heading kt-heading--md">Enter Unique Name </div>
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v2__form">

                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="Province Name"
                                        formControlName="name">
                                    <span class="form-text text-muted">Please enter Province Name.</span>
                                </div>


                                <div class="form-group">
                                    <label>Province Code</label>
                                    <input type="text" class="form-control" name="provinceCode"
                                        placeholder="Province Code" formControlName="provinceCode">
                                    <span class="form-text text-muted">Please enter province code.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->




                    <!--begin: Form Actions -->
                    <div class="kt-form__actions text-center">
                        <button (click)="redirectHome()" type="button"
                            class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                            Back
                        </button>&nbsp;&nbsp;
                        <button [disabled]="myForm.invalid"
                            class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                            Submit
                        </button>
                    </div>
                    <!--end: Form Actions -->
                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
        <!--end: Wizard -->

    </kt-portlet-body>
</kt-portlet>